<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <span>Sentiment Analysis App</span>
        </header>

        <main>
            <div class="ui segment">
                <div class="ui dimmer">
                    <div class="ui text loader">Analysing</div>
                </div>
            </div>
                      
            <section>
                <form class="ui form">
                    <input id="url" type="text" name="url" value="" placeholder="Url to analyse">
                    <button class="ui button" type="submit">Analyse</button>
                </form>
            <section>

            <section id="result-display">
                <h3><strong>Analysis Results:</strong></h3>
                <div id="result"></div>
            </section>
        </main>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
